// Confirm Styles

#confirm-heading {
  color: $brand;
  font-size: 32pt;
  font-weight: 600;
}

#confirm-subheading {
  padding-bottom: 35px;
}

#confirm-image {
  width: 100%;
  padding-top: 25px;
}