body {
  background: #393532;
}

#app {
  min-height: 100vh;
  //background: #2b2f38;
}

#app-footer {
  //margin-top: 20px;
  color: #fff;
}

.navbar-brand {
  padding-left: 15px;
}

#navbarSupportedContent > ul > li,
#nav-user {
  padding: 10px;
}

#nav-user,
#nav-user > a {
  background: $brand;
  color: $white;
}

// Small Screens
@media (max-width: 767px) {
  #footer-logo {
    padding-top: 50px;
  }
  .hidden-sm-down {
    display: none;
  }
}

.footer-main {
  min-height: 175px;
}

.footer-legal {
  background: #393532;
  text-align: center;
  min-height: 50px;
  line-height: 50px;
}
.footer-legal ul,
.footer-links > div > ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.footer-links > div > ul:first-child {
  padding-top: 35px;
}
.footer-links > div > ul:last-child {
  padding-bottom: 35px;
}
.footer-legal li,
.footer-links > div > ul > li {
  display: inline;
  margin: 2%;
}
.footer-legal a,
.footer-links > div > ul > li > a {
  color: #fafafa;
  text-decoration: none;
  font-size: 12pt;
}
.footer-divider {
  width: 60%;
  border-top: 1px solid rgba(255,255,255,0.5);
}

// Header Styles
.logged-in-as {
  margin: 0;
  border-radius: 0;
}

.brand-solid {
  background: #f37721;
  color: #ffffff;
}

.brand-fade {
  background: #f37721;
  background: linear-gradient(180deg, #f37721, #f68c1e);
}
